# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Logs e arquivos temporários
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretório node_modules
node_modules/

# Arquivos de build
/build/
.DS_Store

# Variáveis de ambiente
.env

# Dependências específicas do IDE/editor
.vscode/
.idea/

# Cache e arquivos compilados
*.pnp.js
.pnp.js
.pnp.data
.cache/
dist/
coverage/

# Arquivos de saída específicos do projeto
/build

# Arquivos de configuração
*.yml
*.lock

# Arquivos de backup
*.bak
